.homebtn {
    font-size: 30px;
    color: black;
    background-color:rgb(143, 140, 137);
    border-radius: 10px;
    margin-top:30px;
    margin-left:610px;
    
}

.search {
    font-size: 30px;
    color: black;
    background-color:rgb(143, 140, 137);
    border-radius: 10px;
    margin-top:45px;
    margin-left:600px;
    border-radius: 10px;

}
.add {
    color: black;
    background-color: rgb(143, 140, 137);
    font-size:30px;
    margin-left:600px;
    margin-top:30px;
    border-radius:10px;

}

.divimg1 {

    width: 1400px;
    height: 100px;
    margin: -10px;
   
}
.img1 {

    width: 1400px;
    height: 100px;
    object-fit:unset;
    


}
.f1{
    
    margin-left: 100px;
}

.f2{
    
    margin-left: 102px;
}
.f3{
    
    margin-left: 32px;
}
.f4{
    
    margin-left: 136px;
}
.f5{
    
    margin-left: 115px;
}
.f8{
    
    margin-left: 75px;
}
.f9 {
    margin-left: 122px;

}

.update {

    color: black;
    background-color: rgb(143, 140, 137);
    font-size:30px;
    margin-left:600px;
    margin-top:30px;
    border-radius:10px;

}
.dashboardbtn1 {
    color: black;
    background-color: rgb(143, 140, 137);
    font-size:30px;
    margin-left:450px;
    margin-right: 200px;
    margin-top:30px;
    border-radius:10px;
}

.dashboardbtn2{
color: black;
background-color: rgb(143, 140, 137);
font-size:30px;
margin-top:30px;
border-radius:10px;
}


.teamnumhome{
    width: 500px;
    height:50px;
    margin-left: 140px;
    margin-top: 30px;
    font-size: 25px;

}

.stylenhm {

    width: 500px;
    height:50px;
    margin-left: 150px;
    margin-top: 25px;
    font-size: 30px;

}

.l1 {
    font-size:50px;
    margin-left:160px;
   

}

.l2 {
    font-size: 50px;
    margin-left: 150px;

}

.l3 {
    font-size: 50px;
    margin-left: 180px;
  

}
.factoryhm{

    width: 500px;
    height:50px;
    margin-left: 255px;
    margin-top: 50px;
    font-size: 30px;
}
.scripttable{
     width:800px ;
     height:100px ;
    background-color:black;

}

.script4{
    background-color: rgb(134, 128, 133);
    width:100px;
    height: 50px;
}

.script5{
    
    background-color: rgb(134, 128, 133);
    width:100px;
    height: 50px;
}

.scripttd1{
    
    width:100px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    background-color: bisque;
}


.scripttd2{
    
    width:100px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    background-color: bisque;
}

.scripttd3{
    
    width:100px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    background-color: bisque;
}

.scripttd4{
    
    width:100px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    background-color: bisque;
}
.scripttd5{
    
    background-color: gray;
    width:100px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    background-color: bisque;
}


